body {
    margin: 0;
}

section, footer {
    background-color: #fffdf2;
    display: 100%;
}

#mainpic {
    width: 100%;
    height: 100%;
    border-radius: 50px 50px 50px 50px;
}

#green {
    width: 100%;
}

#h1main { 
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: #043b13;
}

.padding {
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}

#intro, #projects {
    border-bottom: solid;
    border-width: 1px;
    border-color: #123d00;
}

 #project1, #project2, #project3 {
    border-bottom: solid;
    border-width: 1px;
    border-color: #123d00;
}

#intro-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid;
    border-width: 1px;
    border-color: #043b13;
    padding-top: 15px;
    padding-bottom: 39px;
    padding-left: 40px;
    padding-right: 40px;
}

#intro-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 40px 15px 40px;
}

#p {
    font-size: 25px;
    color: #043b13;
    letter-spacing: 0.5px;
    line-height: normal;
}

p {
    font-family: "Cormorant Garamond", serif;
    font-size: 22px;
    color: #043b13;
    line-height: normal;
}

h2 {
    font-family: "Arimo", sans-serif;
    color: #043b13;
}

#view p {
    display: inline-block;
}

.desc {
    width: 60%;
}

a:visited {
    text-decoration: none;
    color: #123d00;
  }
  
 a:visited {
    text-decoration: none;
    color: #123d00;
  }
  
a:link {
    text-decoration: none;
    color:#123d00;
  }

#view a:hover {
    color: #123d00;
    font-weight: bold;
}

#skills a:hover {
    color: #123d00;
    font-weight: bold;
}

#footer2 a:hover {
    color: #123d00;
}

#skills {
    border-bottom: solid;
    border-width: 1px;
    border-color: #123d00;
}

#skills-left {
    border-right: solid;
    border-width: 1px;
    border-color: #123d00;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
}

#skills-right {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
}

.skills2 {
    padding-left: 40px;
}

#contacts {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts p {
    padding-top: 15px;
}

#formdisplay {
    padding-top: 20px;

}

input {
    width: 400px;
    height: 50px;
}

textarea {
    width: 400px;
    height: 200px;
}
form {
        width: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.formemail {
font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 3px;
    line-height: 22px;
    background-color: transparent;
    color: #123d00;
    transition: all 0.3s;
    padding-left: 20px;

    box-sizing: border-box;
    border: 1px solid #123d00;
    outline: 1px solid #123d00;
}

.formmes {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 3px;
    line-height: 22px;
    background-color: transparent;
    color: #123d00;
    transition: all 0.3s;
    padding-left: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    border: 1px solid #123d00;
    outline: 1px solid #123d00;
  }

  [type="submit"] {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    width: 400px;
    background: #123d00;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #fffdf2;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    font-weight: 700;
  }

  #contact {
    border-bottom: solid;
    border-width: 1px;
    border-color: #123d00;
    padding-bottom: 40px;
  }

#footer2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  #footer2 p a {
    padding-left: 20px;
    padding-right: 20px;
  }

  #footernote {
    font-size: 16px;
    padding-top: 15px;
  }

  @media all and (max-width: 768px) {
    
    body {
        margin: 0;
        width: 100%;
    }
    
    #h1main {
        font-size: 38px;
    }

    #skills-left {
        border-bottom: solid;
        border-width: 1px;
        border-color: #123d00;
    }

    #intro-left {
        border: none;
    }

    .desc {
        width: 100%;
    }

    input {
        width: 330px;
        height: 50px;
    }
    
    textarea {
        width: 330px;
        height: 200px;
    }

    [type="submit"] {
        width: 330px;
      }
}